    p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .thumbnail{
        width: 100%;
    
      }
    .video-preview{

    }
    .video-title{
        margin-top: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;

    }
    
    
    .profile-picture{
        width: 36px;
        border-radius: 50px;
    }
    .thumbnail-row{
        margin-bottom: 9px;
        position: relative;
    }
    .author,
    .video-stats{
        font-size: 14px;
        color: rgb(29, 28, 28);
    }
    .author{
        margin-bottom: 4px;
    }
    .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
    }
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
        column-gap: 18px;
    }
    @media (max-width: 750px) {
        .video-grid{
            grid-template-columns: 1fr 1fr;
        }

    }
    @media (min-width: 1120px ){
        .video-grid{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

    }
    @media(min-witdth:751px ) and (max-width:1119px){
         .video-grid{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    body{
        margin: 0;
        padding-top: 80px;
        padding-left: 96px;
        padding-right: 24px;
        background-color: rgb(250, 247, 247);
    }
    .header{
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        border-bottom-width:1px ;
        border-bottom-style:solid ;
        border-bottom-color: rgb(221, 221, 221);
        z-index: 100;
    }
    .left-section{
        display: flex;
        align-items: center;
    }
    .hamburger-menu{
        height: 20px;
        margin-left: 24px;
        margin-right: 30px;
    }
    .youtube-logo{
        height: 20px;
    }
    .middle-section{
        flex: 1;
        margin-left: 70px;
        margin-right: 35px;
        max-width: 500px;
        display: flex;
        align-items: center;

    }
    .search-bar{
        flex: 1;
        height: 34px;
        font-size: 16px;
        padding-left: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(192,192,192);
        border-radius: 2px;
        box-shadow: inset 1px 2px 3px
        rgba(0,0,0,0.10);
        width: 0;
    }
    .search-bar::placeholder{
        font-family: Roboto , Arial, Helvetica, sans-serif;
        font-size: 16px;
        
    }
    .search-button{
        width: 60px;
        height:38px ;
        background-color: rgb(235, 232, 232);
        border-width: 1px;
        border-style: solid;
        border-color:rgb(192,192,192);
       

    }
    .search-button,
    .voice-button,
    .create-button,
    .youtube-app-button,
    .notification{
       position: relative;
       display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-button .tooltip,
    .voice-button .tooltip,
    .create-button .tooltip,
    .youtube-app-button .tooltip,
    .notification .tooltip{
        position: absolute;
        background-color: gray;
        color: white;
        padding: 3px 7px;
        border-radius: 2px;
        font-size: 12px;
        font-weight: 600;
        font-family: roboto,arial;
        bottom: -30px;
        opacity: 0;
        transition: 0.15s;
        pointer-events: none;
        white-space: nowrap ;

    }
    .search-button:hover .tooltip,
    .voice-button:hover .tooltip,
    .create-button:hover .tooltip,
    .youtube-app-button:hover .tooltip,
    .notification:hover .tooltip
    {
        opacity: 1;
    }

    .search-icon{
        height: 25px;
        
    }
    .voice-button{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        border-radius:100px;
        border-style: none;
        

    }
    .voice-icon{
        margin-top: 2px;
    }
    
    .right-section{
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;

    }
    .create-icon{
        height: 25px;
    }
    .youtube-apps{
        height: 25px;
    }
    .notification-button{
        height: 25px;
        padding-top:7px ;
    }
    .channel-logo{
        height: 35px;
        border-radius:20px ;
    }
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px ;
    width: 75px;
    background-color: white;
    z-index: 200;

}
.sidebar-link{
    height: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.sidebar-link:hover{
    background-color: rgb(228, 228, 228);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 7px;
    
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}
.video-time{
    position: absolute;
    right:4px;
    bottom: 10px;
    background-color: black;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    font-family: Roboto, Arial;
    font-weight: 600;
    font-size: 14px;
}
.notification-div{
    position: relative;
    
}
.notification-count{
    position: absolute;
    top: 4px;
    right: -6px;
    font-family: roboto,arial;
    font-size: 13px;
    font-weight: 500;
    background-color: rgb(230, 16, 16);
    color: white;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    border-radius:40px; 
}

    